body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.container {
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

h1 {
  margin-bottom: 8px;
  font-size: 32px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  color: #666;
}

.upload-area {
  margin-bottom: 20px;
}


#imageInput {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 12px 22px;
  background: #eeeeee;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}


#fileName {
  display: block;
  margin-top: 10px;
  color: #666;
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #444;
}

.result {
  margin-top: 30px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

#downloadLink {
  display: none;
  margin-top: 15px;
  padding: 10px 18px;
  background: #eeeeee;
  color: #222;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}